<div class="main">
        <div class="form">
            <div class="loginpage">
                <div class="pagepadding">
                    <div class="page">
                        <div class="backlogin"><span class="material-symbols-outlined">
                                keyboard_backspace
                            </span>
                            <p> Go to <a href="#">Home Page</a></p>
                        </div>
                        <div class="headlogin">
                            <h2>Enter Verification Code.</h2>
                            <img src="\assets\otp.jpeg">
                            <p>We have just sent a Verification code to</p>
                            <p>amal.thomas@gmail.com and +1 5215248521</p>
                        </div>
                        <div class="inputlogin">
                            <p>Didn't got OTP ? </p>
                            <a href=""> Resent OTP Now</a>

                        </div>
                        <section>

                            <form id="otp-form">
                                <input type="text" class="otp-input" maxlength="1" placeholder="___">
                                <input type="text" class="otp-input" maxlength="1" placeholder="___">
                                <input type="text" class="otp-input" maxlength="1" placeholder="___">
                                <input type="text" class="otp-input" maxlength="1" placeholder="___">
                                <input type="text" class="otp-input" maxlength="1" placeholder="___">
                                <input type="text" class="otp-input" maxlength="1" placeholder="___">

                            </form>


                            <div class="buttonlink">
                                <button type="button" (click)="verify()" class="button1">Verify</button>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
        </div>
    