<div class="main">
    <div class="form">
            <div class="pagepadding">
                    <aside class="container">
                        <div class="headlogin">
                            <h2>Please Check Your Email</h2>
                            <img src="\assets\letter_12.jpg">
                            <p>please check your Gmail </p>
                            <p>Head to the Settings menu and remain in the General tab. Scroll down until you find the “Vacation responder” option.
                            
                            Here, you’ll have the option to turn the Vacation responder on (it’s off by default).
                            
                            out of office message examples - vacation responder settings
                            Once on, Gmail will send your custom reply automatically to incoming messages. This message is sent at most once every 4
                            days, to avoid annoying your contacts with multiple successive messages.
                            
                            You’ll need to choose the first day of your vacation responder, and you’ll have the option of choosing the last day. If
                            you don’t set a last day, be sure to set up a reminder so you turn it off when you return.
                            
                            You can customize the subject line as well as the body of the message. You can also choose to only send responses to
                            people who are in your contact list.</p>

                        </div>
                </aside> 
            </div>
    </div>
</div>
